.header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0px 70px 10px 70px;
    border: 1px solid dimgray;
    background-color: ghostwhite;
}

.header div{
    display: flex;
    justify-content: space-between;
}

.header div p{
    margin-right: 15px;
}

.header .header-last-message-date,
.header .header-messages-count{
    margin-right: 0;
}

.header p + p {
    margin-top: 0;
}