.message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    background-color: ghostwhite;
    width: 70%;
    padding: 10px;
    margin: 25px 0;
}

.message .left-block{
    display: table;
    align-items: center;
    align-content: center;
}

.message .right-block{
    display: table;
}

.message-user-avatar{
    width: 60px;
    height: 60px;
} 

.message-user-name,
.message-text {
    font-size: medium;
    padding-bottom: 3px;
}

.message-text {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.message-like{
    padding: 5px;
    border: 1px solid dimgray;
    background-color: white;
}
.message-like:hover{
    cursor: pointer;
}
.liked {
    padding: 5px;
    border: 1px solid rgb(255, 198, 229);
    background-color: rgb(255, 198, 229);
  }