
.form {
    display: flex;
    justify-content: center;
}

.loginForm {
    width: 100%;
    margin: 50px auto;
}

label,
#inputLogin,
#inputPwd {
    display: block;
    width: 100%;
}

label {
    margin-bottom: 5px;
    height: 22px;
}

#inputLogin,
#inputPwd {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #777;
}

.submit {
    padding: 10px 15px;
    background-color: rgb(70, 153, 179);
    border: 1px solid rgb(70, 153, 179);
    color: white !important;
}

.submit:hover {
    text-decoration: none;
    background-color: white;
    color: rgb(70, 153, 179) !important;
}
